#signup {
  /* border: 1px solid blue; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 15px;

  padding: 4rem 2rem;
  width: 40%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background-color: rgb(133, 143, 247);

}

#signupForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.signupFormInput {
  width: 100%;
  background-color: lightGrey;
  border: 2px solid lightGrey;
  border-radius: 15px;
  padding: 1rem 1rem;
}
.signupFormInput:focus {
  background-color: white;
}

#signupForm button {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem 0;
  /* padding-left: 5%; */
  background-color: teal;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
}
#signupForm button:hover {
  background-color: goldenrod;
  color: black;
}
